aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #000000;
    font-style: italic;
    font-family: "OCR A Std", serif;
    color: #000000;
}

aside > p {
    margin: 0.5rem;
}

#introduction > h2 {
    word-spacing: 1px;
}

ul.advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    flex-grow: 4;
}

ul.advantages > li {
    padding: 1rem;
    margin: 1rem;
    background: #EEA6AA;
    list-style-type: none;
}

@media (max-width: 768px) or (orientation: portrait) {
    ul.advantages > li#women {
        display: none;
    }
}

.types {
    background: #EED7AA;
    padding: 0.7rem;
    margin-bottom: 1rem;
}

.types > h4 {
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 0;
    text-decoration: underline;
}

img.logo {
    filter: drop-shadow(4px 4px);
}

#ukupnik {
    filter: drop-shadow(3px 3px);
}

h1 > i {
    color: purple;
    -webkit-text-stroke: 1px #000000;
    margin-left: 0.35em;
}

body {
    background: palegoldenrod;
}

nav.menu {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    position: fixed;
    top: 0;
    right: 1rem;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    display: inline;
    padding-left: 0;
}

ul.menu > li {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: italic bold 1em "Fira Sans", sans-serif;
    padding-left: 3em;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: 'â€';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

body > p {
    font-family: "arial", serif;
}

code > pre {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 0.5rem;
}

footer > div {
    background: #f5d28c;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer > div > p {
    text-align: right;
    padding-right: 1rem;
}

div#main_info img {
    filter: drop-shadow(4px 4px);
    height: 250px;
    margin-bottom: 25px;
}

section {
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
}

section > article {
    max-width: 15rem;
    min-width: 6rem;
    padding: 1rem;
    margin: 1rem;
}

.advantages_vertical {
    display: flex;
    flex-direction: column;
}

.table_title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
}

.table_row:nth-child(even) {
    background-color: khaki;
}

.table_row:nth-child(odd) {
    background-color: darkkhaki;
}

.table_header {
    background-color: dimgrey;
    color: white;
}

.table_header > th {
    padding: 1rem;
    font-weight: bolder;
}

.table_row > td {
    padding: 8px 12px;
    text-align: center;
    border: 1px solid grey;
}

.table_row > td > span {
    display: none;
}

@media (max-width: 700px) {
    .table_header {
        display: none;
    }

    .table_row {
        display: flex;
        flex-direction: column-reverse;
        border: 3px solid grey;
        border-radius: 0.5rem;
    }

    .table_row:not(:last-child) {
        margin-bottom: 12px;
    }

    .table_row > td {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        border-bottom: 1px solid grey;
        border-top: 0;
    }

    .table_row > td > span {
        display: inline-flex;
        font-weight: bold;
    }
}

@media (max-width: 800px) {
    aside {
        display: none;
    }

    li#code_base {
        display: none;
    }
    img#man_with_laptop {
        display: none;
    }
}

div.load-time {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

div.load-time > p {
    font-style: italic;
}

a:hover {
    color: pink;
}

a:active {
    background-color: #999;
    font-weight: bolder;
}

a.current_page {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.storage_property {
    font-weight: bold;
}

.storage_priority {
    font-style: italic;
}

.loader__hidden {
    display: none;
}

.loader-container {
    display: flex;
    justify-content: center;
}

.error__hidden {
    display: none;
}

.reviews_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review_title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #595402;
    font-style: italic;
}